<style>
  a:visited {
    color: #666; 
  }
</style>
<footer class="main-footer d-flex p-2 px-3 bg-white border-top">
  <div class="row w-100">
    <!-- <ul class="nav col-8">
      <li class="nav-item d-flex">
        <a class="text-f-orange px-2 m-auto" href="#">Home</a>
      </li>
      <li class="nav-item d-flex">
        <a class="text-f-orange px-2 m-auto" href="#">Services</a>
      </li>
      <li class="nav-item d-flex">
        <a class="text-f-orange px-2 m-auto" href="#">About</a>
      </li>
      <li class="nav-item d-flex">
        <a class="text-f-orange px-2 m-auto" href="#">Products</a>
      </li>
      <li class="nav-item d-flex">
        <a class="text-f-orange px-2 m-auto" href="#">Blog</a>
      </li>
    </ul> -->
    <div class="col-12 d-flex justify-content-center mb-2 mt-2">
      <span class="ml-auto my-auto">Feito por Ítalo Viana</span>
    </div>
  </div>    
</footer>
