<nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
  <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
    <div class="input-group input-group-seamless ml-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
        </div>
      </div>
  </form>
  <ul class="navbar-nav flex-row ml-auto">
    <li class="dropdown-item">
      <%= link_to destroy_user_session_path, class: "nav-link text-f-orange", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "false", method: 'delete'  do %>
        <i class="fas fa-sign-out-alt"></i>
        Logout
      <% end %>
    </li>
  </ul>
  <nav class="nav">
    <a href="#" onMouseOver="this.style.background='transparent'" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
      <i class="material-icons">&#xE5D2;</i>
    </a>
  </nav>
</nav>
